html,body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
input {
    border-color: var(--blue-color);
    border-style: solid;
    border-radius: 10px;
    line-height: 25px;
    width: 15rem;
}

/* TODO: better table in home_page.php */
table {
    
}


button:hover {
  background-color: var(--dark-red-color);
}
button:active {
    background-color: var(--red-color);
}

#FormBox {
    padding: 2.5rem;
    margin: 5px;
    position: relative;
    border-color: var(--red-color);
    border-width: 2px;
    border-style: solid;

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 10px;
}

/* #GameMenuBox {
    position: relative;
    color: #c1c1c182;
} */



/* CUSTOM FONT */
@font-face {
    font-family: "myFont";
    src: url("../assets/font/mightyspidey-font/Mightyspidey-pmaa.ttf")
         format("truetype");
}
h1, label, button, a, p {
    font-family: "myFont", sans-serif;
}


/* CUSTOM PALETT OF COLORS */
:root {
    --red-color: #de0606;           /* (222,6,6) */
    --blue-color:#007fd7;           /* (0,127,215) */
    --grey-color:#3f3f3f;           /* (63,63,63) */
    --dark-red-color: #ac0202;      /* (172,2,2) */
    --light-grey-color: #e2e2e2;     /* (226,226,226) */
}
.red-color {
    background-color: var(--red-color);
}
.blue-color {
    background-color: var(--blue-color);
}
.grey-color {
    background-color: var(--grey-color);
}
.dark-red-color {
    background-color: var(--dark-red-color);
}
.light-grey-color {
    background-color: var(--light-grey-color);
}

